{% extends 'base.html' %}

{% block content %}
  <div ng-controller="DashController as dash" layout="column" flex>
    <md-tabs md-border-bottom>
      <md-tab ng-click="dash.selectTab(t)" ng-repeat="t in dash.tabs">{{ t.item.title }}</md-tab>
      <md-tab ng-click="dash.addTab()">+</md-tab>
    </md-tabs>
    <md-card>
      <md-card-title>
        <md-card-title-text layout="row">
          <md-button ng-click="dash.goBack()" flex="initial">Back</md-button>
          <div layout="column" flex>
            <span class="md-headline" flex>
              <md-input-container>
                <input ng-model="dash.cnode.item.title" ng-change="dash.touchItem(dash.cnode.item)" ng-disabled="dash.cnode.item.id==null"> </md-input-container>
            </span>
          </div>
          <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">{{ dash.itemProgress(dash.cnode.item) }}%</md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="dash.saveItems($event)"> Save </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="dash.archiveCompleted(dash.cnode.item)"> Archive Completed </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="dash.tally()"> Retally </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form action="javascript:void(0)" ng-submit="dash.addItem()">
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Create New Item</label>
              <input ng-model="dash.newItemTitle">
            </md-input-container>
            <md-button>Create</md-button>
          </div>
        </form>
        <md-list>
          <md-list-item ng-repeat="i in dash.cnode.children | filter:dash.isShowable" ng-click="dash.selectItem(i)">
            <p>{{ dash.itemProgress(i) }}% <strong>{{ i.title }}</strong> - {{ i.childrenCompleted }} / {{ i.childrenTotal }}</p>
            <md-checkbox class="md-secondary" ng-model="i.complete" ng-click="dash.checkItem(i)"></md-checkbox>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
{% endblock %}
