{% extends 'base.html' %}

{% block content %}
  <div ng-controller="DashController as dash" layout="column" flex>
    <md-tabs md-border-bottom>
      <md-tab ng-click="dash.selectTab(t)" ng-repeat="t in dash.tabs">{{ t.item.title }}</md-tab>
      <md-tab ng-click="dash.addTab()">+</md-tab>
    </md-tabs>
    <md-card>
      <md-card-title>
        <md-card-title-text layout="row">
          <md-button ng-click="dash.goBack()" flex="initial">Back</md-button>
          <span class="md-headline" flex>{{ dash.citem.title }}</span>
          <md-button ng-click="dash.saveItems()">Save</md-button>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form action="javascript:void(0)" ng-submit="dash.addItem()">
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Create New Item</label>
              <input ng-model="dash.newItemTitle">
            </md-input-container>
            <md-button>Create</md-button>
          </div>
        </form>
        <md-list>
          <md-list-item ng-repeat="i in dash.items | filter:dash.isChildOfCurrent" ng-click="dash.selectChild(i)">
            <p>{{ i.title }}</p>
            <md-checkbox class="md-secondary" ng-model="i.complete" ng-click="dash.touchItem(i)"></md-checkbox>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
{% endblock %}
